html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Rubik", sans-serif;
}

.container {
    width: 100%;
    display: flex;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
}

#plateau {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    position: relative;
    width: calc(100% / 5 - 2em);
    margin: 1em;
    height: 150px;
    z-index: 2;
    cursor: pointer;
}

.carte-dos {
    width: 100%;
    height: 100%;
    object-fit: contain;
    top: 0;
    left: 0;
    z-index: 2;
    position: absolute;
}

.carte {
    width: 100%;
    height: 100%;
    object-fit: contain;
    top: 0;
    left: 0;
    z-index: 1;
    position: absolute;
}

.card_hidden {
    visibility: hidden;
}

.not_clicable {
    pointer-events: none;
}

/* ----- Message succès ----- */
h1 {
    font-family: "Rubik", sans-serif;
    text-align: center;
}

#succes {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 3px 5px rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 2em;
    z-index: 50;
    width: 80%;
    height: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#message {
    font-weight: 400;
    font-size: 1.2em;
    text-align: center;
    padding: 1em 0;
}

.buttons-style {
    transition: ease 0.3s;
    text-decoration: none;
    color: #fff;
    background-color: #f56f56;
    padding: 1em 2em;
    border-radius: 5px;
    font-weight: 500;
    text-align: center;
    margin: auto;
    display: block;
}

.buttons-style:hover {
    transition: ease 0.3s;
    background-color: #f05337;
    border-radius: 0;
}

.invisible {
    display: none!important;
}